div{
		text-align:center;
		padding: 50px;
	}
	#date-field{
		outline: none;
		padding: 12px;
		font-size: 20px;
		border-radius: 5px;
		border:1px solid #DDD;
		border-bottom: 2px solid #CCC;
	}
	#date-field.error{
		background: rgb(252, 228, 228);
		border-color: red;
	}